.card-empat{
   background-color: rgb(246, 246, 249);
   filter:drop-shadow(0px 0px 3px rgb(181, 177, 177));
}

.container-map{
   border-color: rgb(7, 7, 57);
   background-color: rgb(7, 7, 57);
   color: white;
}

.map{
   border-color: rgb(74, 72, 92);
}