.input{
 background-color: rgb(230, 230, 216);
 font-weight: bold;
}

.bt-registrasi{
       background-color: rgb(84, 62, 62);
}

.bt-registrasi:hover{
     background-color: rgb(100, 82, 82);
     transform: scale(0.94);
}

.daftar-akun{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}