.input{
  background-color: rgb(21, 10, 37);
  color: yellow;
  font-weight: bold;
}

.bt-registrasi{
      
    background-color: rgb(250, 119, 31);
}

.bt-registrasi:hover{
   
     transform: scale(0.94);
}

.daftar-akun{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sudah{
       color: rgb(243, 100, 48); 
}