.deskripsi{
    background-color: rgb(7, 7, 46);
    color: rgb(245, 95, 41);
    font-style: italic;
    border-top: 5px solid rgba(255, 166, 0, 0.949);
}

.logo{
    border-radius: 100px;
    filter: drop-shadow(0px 0px 10px navy);
}

.custom-class{
    color: gold;
    
}