.deskripsi{
    background-color: rgb(7, 7, 46);
    color: rgb(238, 246, 5);
    font-style: italic;
    border-top: 5px solid rgba(45, 45, 45, 0.949);
}

.logo{
    border-radius: 100px;
    filter: drop-shadow(0px 0px 10px navy);
}

.custom-class{
    color: gold;
    
}