@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes glare-move {
  0% { left: -100%; }
  100% { left: 100%; }
}

.hover\:before\:animate-glare:hover::before {
  animation: glare-move 1s ease-in-out forwards;
}


@keyframes glare-move {
  0% { left: -120%; }
  100% { left: 120%; }
}

.hover\:before\:animate-glare:hover::before {
  animation: glare-move 1s ease-in-out;
}

.bg-diagonal {
  background: linear-gradient(
    120deg,
    #192645 0%,
    #192645 50%,
    #f3f3fa 50%,
    #ffffff 100%
  );
}


.text-lapor{
  font-size: 25;
  font-weight: 900;
  font-style: italic;
}

.logo-profile{
  border-radius: 100px;
}


.animasi-laporan{
  animation: laporan 0.5s alternate ease-out;
}

@keyframes laporan{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}


.animasi-kasus{
  animation: kasus 0.5s alternate ease-out;
}
.baner {
  animation: jalan 6s linear infinite alternate;
}

@keyframes jalan {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes kasus{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}


.animasi-dash{
  animation: dash 0.5s alternate ease-out;
}


@keyframes dash{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}