.input-login{
    background-color: rgb(21, 10, 37);
    color: yellow;
    font-weight: bold;
}

.input-login:hover{
    transform: scale(1.04);
}

.bt-login{
    background-color: rgb(250, 119, 31);
}

.bt-login:hover{
      background-color: rgb(95, 77, 77);
      transform: scale(0.94);
}
.bt-registrasi-login:hover{
    background-color: rgb(236, 234, 231);
    transform: scale(0.94);
}

.daftar{
    color: rgb(243, 100, 48);
    
}