.input-login{
    background-color: rgb(101, 11, 235);
    color: rgb(81, 0, 255);
    font-weight: bold;
}

.input-login:hover{
    transform: scale(1.04);
}

.bt-login{
    background-color: rgb(250, 119, 31);
}

.bt-login:hover{
      background-color: rgb(95, 77, 77);
      transform: scale(0.94);
}
.bt-registrasi-login:hover{
    background-color: rgb(227, 141, 12);
    transform: scale(0.94);
}

.daftar{
    color: rgb(243, 100, 48);
    
}